:root {
    --light: #ffffff;
    --dark: #000000;


    --blue-700: #1e7fba;
    --blue-600: #50a4d8;

    --grey-50: #fbfbfb;
    --grey-100: #f9f9f9;
    --grey-200: #e8e8e8;
    --grey-300: #c9c9c9;
    --grey-800: #252525;
}
