header {
    margin-bottom: 2rem;
}

.wrapper {
    padding: 1rem;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 1.25rem;
    border-image: linear-gradient(to right, var(--blue-700), var(--blue-600), var(--blue-700)) 10;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    gap: 3.5rem;

    @media screen and (min-width: 900px) {
        nav {
            flex-grow: 2;
        }
    }

    .cta {
        display: none;

        @media screen and (min-width: 900px) {
            display: block;
            padding: 0.75rem 1.25rem;
            border-radius: 6px;
          }
    }

    &--open {
        @media screen and (min-width: 900px) {
            display: none;
          }
    }

    &--close {
        @media screen and (min-width: 900px) {
            display: none;
          }
    }

    &--menu {
        display: none;

        @media screen and (min-width: 900px) {
            display: flex;
            align-items: center;
            flex-grow: 2;
          }
    }

    &--links {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
    }

    img {
        height: 1.25rem;
    }

    button {
        border: none;
        background-color: transparent;
        color: var(--text-light);
        font-weight: 700;
        padding: 0;

        &:last-child {
            background-color: var(--dark);
        }
    }
}

section {
    margin-bottom: 3rem;

    h1 {
        font-size: 2rem;
    }

    ul {
        display: grid;
        gap: 5px;
        text-align: center;
    }

    li {
        background-color: var(--grey-100);
        color: var(--dark);
        border-radius: 12px;
    }

}

.grid {
    max-width: 70rem;
    margin-inline: auto;
    &--main {
        img {
            display: none;

            @media screen and (min-width: 900px) {
                display: block;
              }
        }

        @media screen and (min-width: 900px) {
            & > div {
                display: flex;

                & > img {
                    margin-top: 60px;
                    height: 700px;
                    z-index: -1;
                }
            }
        }
    }

    &--form {
        display: flex;
        color: var(--dark);
        background-color: var(--light);
        border-radius: 12px;
        padding: 1.5625rem 0;
        margin-bottom: 5rem;

        @media screen and (min-width: 900px) {
            margin-left: -45px;
          }

        h1 {
            font-size: 1.25rem;
            color: var(--grey-300);
        }

        fieldset {
            padding: 0.625rem 1.5625rem;

            &:nth-child(2) {
                margin-bottom: 1.5625rem;
                background-color: var(--blue-700);

            }
        }

        p {
            color: var(--blue-700);
            font-weight: 700;
        }

        button {
            width: 100%;
        }
    }

    &--project {

        @media screen and (min-width: 900px) {
            & > div {
                display: flex;
                align-items: center;
                gap: 100px;

                img {
                    height: 470px;
                }
            }
        }
        h1 {
            margin-left: 1.5rem;
        }

        p {
            margin-bottom: 1.5rem;

            &:last-child {
                font-weight: 700;
            }
        }

    }

    &--issue,
    &--project {
        h1 {

            background: linear-gradient(to right, var(--blue-600), var(--light));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &--issue,
    &--goals {
        li {
            padding: 3rem 2rem 2rem 2rem;
            min-height: 13.5rem;

            div {
                font-weight: 700;
                position: relative;

                h2 {
                    z-index: 2;
                    position: relative;
                }

                span {
                    font-size: 4.5rem;
                    color: white;
                    text-shadow: -1px -1px 0 var(--grey-300), 1px -1px 0 var(--grey-300), -1px 1px 0 var(--grey-300), 1px 1px 0 var(--grey-300);
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    line-height: .75;
                    left: 0;
                    top: -15px;
                    z-index: 1;
                }
            }
        }
    }

    &--issue {


        & > div {
            align-items: center;
            gap: 100px;

            img {
                height: 750px;
            }
        }

        .is-desktop {
            display: flex;
        }

        @media screen and (min-width: 900px) {
        ul {
            display: flex;
        }
    }

        margin-bottom: -100px;
        background: linear-gradient(to bottom, transparent 50%, var(--grey-100) 85%);

        h1 {
            margin-left: 1.5rem;
        }

        p {
            &:first-of-type {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 1.75rem;
            }

            &:last-of-type {
                font-weight: 700;
                margin-bottom: 3.125rem;
            }
        }

        hr {
            border-top: 1px solid var(--light);
            border-bottom: 0;
            width: 100%;
            margin-bottom: 1.75rem;
        }

        li:last-child {
            box-shadow: 0 10px 10px rgba(17, 17, 26, 0.15);
        }


    }

    &--journey {
        background-color: var(--grey-100);
        padding-top: 12rem;
        padding-bottom: 150px;
        margin-bottom: 0;

        img {
            display: block !important;
            padding: 0.75rem;
            background-color: var(--light);
            border-radius: 8px;
        }

        h1 {
            width: fit-content;
            margin: 0 auto 2rem;

            background: linear-gradient(to right, var(--blue-700), var(--blue-600));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }



        ul {
            margin-bottom: 3.125rem;

            @media screen and (min-width: 900px) {
                justify-content: center;
                gap: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));

            }
        }

        li {
            background-color: var(--blue-700);
            padding: 0.75rem;
            display: flex;
            text-align: left;
            gap: 0.75rem;
            align-items: center;
            color: var(--light);
        }

        button {
            padding: 0.5rem;
            color: var(--light);
            border: none;
            border-radius: 12px;
            background-color: var(--dark);
            width: 100%;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                margin: 0;
            }

            img {
                background-color: transparent;
                margin-top: 2px;
            }

            span {
                color: var(--blue-700);
            }
        }

    }

    &--goals {
        padding-top: 3rem;
        text-align: center;
        background: radial-gradient(300px 200px at center top, var(--blue-600), transparent);

        h1 {
            margin-bottom: 3rem;
        }

        @media screen and (min-width: 900px) {
            ul {
                display: flex;

            }
        }
    }
}

.user-data {
    label {
        display: flex;
        position: relative;
    }

    input[type=text],
    input[type=email],
    select {
        width: 100%;
        padding: 0.5rem 2.5rem;
        border-radius: 6px;
        border: none;
        outline: 1px solid var(--grey-300);
        margin-bottom: 0.75rem;
    }


    input[type=checkbox] {
        width: 100%;
    }

    img {
        display: block;
        position: absolute;
        top: 11px;
        left: 15px;
    }
}

.user-skills {
    background-color: var(--blue-700);
    color: var(--light);
    padding: 1rem 0;

    p {
        color: currentColor;
    }

    label {
        margin-right: 1.25rem;
    }

    input {
        margin-right: 0.3125rem;
        margin-bottom: 1rem;
    }

}

.user-experience {
    margin-bottom: 0.625rem;

    input[type=radio] {
        margin: 0;
    }
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 1.5625rem;
    text-align: center;

    .legend {
        font-size: 0.625rem;
        border-top: 1px solid var(--grey-300);
        align-self: stretch;
        padding: 0.625rem 0;
        margin-bottom: 1.125rem;

    }

    .agreement {
        width: 48ch;
        font-size: 0.625rem;
        color: var(--grey-300);

        span {
            color: var(--blue-700);
        }
    }

    button {
        color: var(--light);
        font-size: 1.25rem;
        font-weight: 700;
        // align-self: stretch;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 0.75rem;
        border: 0;
        background-color: var(--blue-700);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    height: 50vh;
    padding: 5rem 1rem;
    position: relative;

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .socials {
        display: flex;
        gap: 0.625rem;
        img {
            height: 20px;
            margin-bottom: 5rem;
        }
    }

    .right-side {
        display: none;
    }

    img {
        margin-bottom: 0.25rem;
        height: 2.375rem;
    }

    .slogan {
        text-transform: uppercase;
        font-size: 0.5rem;
        // word-spacing: 7px;
        letter-spacing: 6px;
    }

    .author {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0.75rem;
        text-align: center;
        bottom: 0;
        background-color: var(--grey-800);
        color: var(--light);
        text-transform: uppercase;
        font-size: 0.5rem;
        letter-spacing: 5px;

    }
}


.wiggle-line {
    background-color: transparent !important;
    padding: 20px 0 !important;
    margin: 0 auto;
}

.hide-mobile {
    display: none;
}
